
<header class="lh-1 py-3 bg-dark text-white px-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
            <a class="text-decoration-none text-white fs-2" href="#"><i class="fa-solid fa-house"></i></a>
        </div>
        <div class="col-4 text-center">
            <h1>Welcome <%= session === "ok" ? "Admin" : ""%> !</h1>
        </div>
        <% if(session === "ok"){%>

            <div class="col-4 d-flex justify-content-end align-items-center">
                <form action="/disconnect" method="get">
                    <button type="submit" class="btn bg-danger text-white"><i class="fa-sharp fa-solid fa-user-minus"></i></button>
                </form>
                <a class="btn bg-secondary text-white ms-1"><i class="fa-solid fa-gear"></i></a>
            </div>
        <%}else{%>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="btn bg-white text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-user"></i></a>
            </div>
        <%}%>
    </div>
</header>

<div class="nav-scroller mb-2 bg-secondary">
    <nav class="nav d-flex justify-content-center">
        <a class="p-3 text-white text-decoration-none text-uppercase" href="/">Accueil</a>
        <a class="p-3 text-white text-decoration-none text-uppercase" href="/chat">Chat</a>
        <a class="p-3 text-white text-decoration-none text-uppercase"  href="/actu">Actualités</a>
        <a class="p-3 text-white text-decoration-none text-uppercase" href="/error404">Erreur404</a>
    </nav>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formulaire de connexion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/connection" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Identifiant</label>
                        <input type="text" class="form-control" name="username" id="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
