<!doctype html>
<html>
<head>
    <%- include('includes/_head.ejs');%>
    <title><%= title %></title>
</head>
<body class="container">
<%- include('includes/_header.ejs');%>

<h1 class="text-white">404 not found</h1>

<%- include('includes/_script.ejs');%>
</body>
</html>