<!doctype html>
<html>
    <%- include('includes/_head.ejs', title);%>
<body class="container">
    <%- include('includes/_header.ejs');%>

    <p class="text-white">Page accueil</p>

    <%- include('includes/_footer.ejs');%>
    <%- include('includes/_script.ejs');%>
</body>
</html>