<!doctype html>
<html>
<head>
    <%- include('includes/_head.ejs');%>
    <title><%= title %></title>
</head>
<body class="bg-dark">
    <%- include('includes/_header.ejs');%>

    <h1 class="text-white">Leplusbeausite</h1>

    <%- include('includes/_script.ejs');%>
</body>
</html>