<!doctype html>
<html>
<head>
    <%- include('includes/_head.ejs');%>
    <title><%= title %></title>
</head>
<body>
    <%- include('includes/_header.ejs');%>

    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>

    <%- include('includes/_script.ejs');%>
</body>
</html>